<div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Años de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>

            {{#each skaters as |skater|}}
                <tr>
                    <th scope="row">{{ @index }}</th>
                    <td>
                        <img class="admin-photo" src="images/{{ skater.foto }}" alt="{{ skater.nombre }}">
                    </td>
                    <td>{{ skater.nombre }}</td>
                    <td>{{ skater.anos_experiencia}}</td>
                    <td>{{ skater.especialidad }}</td>
                    <td><input type="checkbox" onclick="updateSkaterStatus(this.value)" value="{{ skater.id }}" {{#if skater.estado }} checked {{/if}} /></td>
                </tr>                
            {{/each}}

        </tbody>
    </table>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const updateSkaterStatus = (skaterId) => {
        Swal.fire({
            title: 'Atención',
            text: '¿Estás seguro que deseas modificar el estado de este usuario?',
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar'
        }).then(result => {
            if(result.value) {
                fetch('/api/skaters/update', {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({ skaterId })
                }).then(result => {
                    return Swal.fire(
                        '¡Bien!',
                        'El estado del skater se actualizó correctamente',
                        'success'
                    );
                }).catch(error => {
                    console.log(error)

                    return Swal.fire(
                        '¡Error!',
                        'El estado del skater no se pudo actualizar',
                        'error'
                    );
                });
            }

            return window.location.reload();
        });
    }
</script>