<div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Años de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#each skaters as |skater|}}
                <tr>
                    <th scope="row">{{ @index }}</th>
                    <td>
                        <img class="admin-photo" src="images/{{ skater.foto }}" alt="{{ skater.nombre }}">
                    </td>
                    <td>{{ skater.nombre }}</td>
                    <td>{{ skater.anos_experiencia}}</td>
                    <td>{{ skater.especialidad }}</td>
                    {{#if skater.estado }} 
                        <td class="text-success font-weight-bold">Aprobado</td>
                    {{else}}
                        <td class="text-warning font-weight-bold">En revisión</td> 
                    {{/if}}
                </tr>              
            {{/each}}
        </tbody>
    </table>
    <a href="login">Iniciar Sesión</a> |
    <a href="registro">Registrarme</a>
</div>